<section class="relative bg-cover bg-center py-16">
  <div id="heroSlider" class="relative overflow-hidden container mx-auto px-4">
    <!-- Slides -->
    <div class="slides">
      <a href="/sales/event1" class="slide">
        <img src="/images/sales-event1.jpg" alt="Sales Event 1" class="w-full h-full object-cover rounded-xl">
      </a>
      <a href="/sales/event2" class="slide">
        <img src="/images/sales-event2.jpg" alt="Sales Event 2" class="w-full h-full object-cover">
      </a>
      <a href="/sales/event3" class="slide">
        <img src="/images/sales-event3.jpg" alt="Sales Event 1" class="w-full h-full object-cover rounded-xl">
      </a>
    </div>

    <!-- Bullets -->
    <div class="absolute bottom-4 left-1/2 transform -translate-x-1/2 flex space-x-2">
      <button class="bullet w-3 h-3 bg-white rounded-full opacity-50 hover:opacity-100" data-slide="0"></button>
      <button class="bullet w-3 h-3 bg-white rounded-full opacity-50 hover:opacity-100" data-slide="1"></button>
      <button class="bullet w-3 h-3 bg-white rounded-full opacity-50 hover:opacity-100" data-slide="2"></button>
    </div>
  </div>
</section>